<<<<<<< HEAD
.logo {
  font-size: 36px;
}

.or {
  margin: 15px 0;
  font-size: 12px;
  color: #999;
}

.social {
  color: #385185;
  text-decoration: none;
  font-size: 14px;
}

.signup-box {
  margin-top: 10px;
  padding: 15px;
  background: white;
  width: 350px;
  text-align: center;
}
=======
.logo {
  font-size: 36px;
}

.or {
  margin: 15px 0;
  font-size: 12px;
  color: #999;
}

.social {
  color: #385185;
  text-decoration: none;
  font-size: 14px;
}

.signup-box {
  margin-top: 10px;
  padding: 15px;
  background: white;
  width: 350px;
  text-align: center;
}
>>>>>>> e933ba92755d681e6b465dfd3397f7e9a65b53f5
